._.DS_Store
.DS_Store

Thumbs.db
*.obj
*.exe
!*.exe/
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
*.dll
*.lib
!*.lib/
!libboost_*.lib
*.sbr
obj/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/

x64/
Debug/

*.opensdf
*.opendb
*.idb
*.ipch
*.lastbuildstate
*.manifest
*.res
*.sdf
*.tlog
version.h
*.aps

